*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1rem;
}

.instruction {
  margin-top: 20%;

  & .do span {
    color: #1d9305
  }

  & .dont span {
    color: #c90808;
  }
}

.calculator {
  border: 4px solid #920396;
  background-color: #92039622;
  border-radius: 4px;
  height: 280px;
  width: 480px;
  display: flex;
  align-items: flex-start;

  & .numerical-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    width: 380px;
    align-items: center;
  }

  & .numerical-buttons .numerical-button {
    display: inline-block;
    height: 40px;
    width: 32.5%;
    margin: 0.5px;
  }
  
  & .numerical-button.number-0 {
    order: 1;
  }

  & .numerical-button.dot, .numerical-button.equal {
    order: 2
  }

  & .numerical-button.equal {
    background-color: #d61add;
  }

  & .operators {
    padding: 0.5rem;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  & button.operator-button {
    display: inline-block;
    height: 40px;
    width: 80px;
  }

  & button.clear {
    color: #720475;
  }

  & .button {
    border-radius: 4px;
    font-size: 20px;
  }

  & .button:hover {
    cursor: pointer;
  }

  & .input {
    padding: 8px;
  }

  & .display {
    border-radius: 4px;
    width: 98%;
    background-color: #aaa2;
    height: 2vh;
    display: inline-block;
    padding: 2px;
  }

  & .display:focus {
    outline: none;
  }

  & .backspace {
    color: #f00;
  }
}

/* For iphone 14 Pro Max. */
@media (max-width: 430px) {

  .calculator {
    height: 280px;
    width: 280px;
  
    & .numerical-buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 8px;
      width: 200px;
      align-items: center;
    }
  
    & button.operator-button {
      display: inline-block;
      height: 40px;
      width: 60px;
      font-size: 16px;
    }
  
   }
}
/* For iPad Pro. */
@media (min-width: 834px) and (max-width: 1023px) {

  .instruction {
    margin-top: 20%;
    font-size: 20px;

    & .do span {
      color: #1d9305
    }
  
    & .dont span {
      color: #c90808;
    }
  }

  .calculator {
    height: 280px;
    width: 400px;
  
    & .numerical-buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 8px;
      width: 300px;
      align-items: center;
    }
  
    & button.operator-button {
      display: inline-block;
      height: 40px;
      width: 80px;
      font-size: 20px;
    }

    & button.numerical-button {
      width: 200px;
    }
    
    input.display {
      font-size: 20px;
      height: 40px;
    }
  }
}



